DATABASE_URL="mongodb://127.0.0.1:27017/tcg-inventory"

HTTP_PORT=3000
HTTP_ADDRESS="127.0.0.1"

#--- JWT signing secret and algorithm
JWT_SECRET="JujuMrBright"
JWT_ALGORITHM="HS512"
# En cas de passage au chiffrement asymétrique RS512
# JWT_PRIVATE_KEY_FILE="..."
# JWT_PUBLIC_KEY_FILE="..."

#--- Cookies naming
SESSION_COOKIE="authorization"
REFRESH_COOKIE="refresh"

#--- JWT params
AUTHORIZATION_TOKEN_EXPIRATION="5m"
REFRESH_TOKEN_EXPIRATION="1h"

#--- XSRF Token Validation
XSRF_HEADER_NAME="X-XSRF-Token"
